.chart {
    width: 100%;
    min-height: 33%;
}
.chart.loading {
    background-image: url('../img/loading.svg');
    background-repeat: no-repeat;
    background-position: center;
}
#error {
    color: red;
}
#error.hidden {
    display: none;
}